<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.apache.logging.log4j.core">
    <Properties>
        <Property name="serviceName">public-api</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout complete="false" compact="true" eventEol="true">
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}"/>
                <KeyValuePair key="service.name" value="${serviceName}"/>
                <KeyValuePair key="trace.id" value="$${ctx:trace_id:-}"/>
                <KeyValuePair key="span.id" value="$${ctx:span_id:-}"/>
            </JsonLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.eclipse.jetty" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.http" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>